/*Containers*/

main {
  background-color: #000000;
}
header {
	background-color: #000000;
	padding: 10px 10px 10px 25px;
	margin: 0px;
	border-bottom: 3px solid #d3d3d3;
	border-bottom: 2px solid #d3d3d3;
  text-align: left;
}


/*Layout Styling*/

.container{
  padding: 0px;
  background-color: #000000;
}

.row {
  margin: 0px 0;
}

#work .row { 
}

.logo {
  max-width: 250px;
}

nav > ul {
  list-style-type: none;
  padding: 0px;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: lowercase;
  color: #d3d3d3;
}

#nav{
  text-align: right;
}

#hero {
  background-color: #000000;
  padding: 20px, 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}
#hero p {
  text-decoration: underline;
  color: #ffffff;
  font-weight: 300;
  font-size: 1.5em;
  padding-top: 19px;
  padding-left: 25px;
}


ul{
  display: inline;
  list-style-type: none;
}

.projectTitle p{
  text-align: left;
  display: inline;
  font-weight: 300;
  font-size: 1em;
  color: #ffffff;
}

.projectInfo a{
  text-align: right;
  display: list-item;
  font-weight: 300;
  font-size: .8em;
  color: #000000;
  text-decoration: underline;
}

.projectinfo_openradio{
  background-color: #eee9e5; /*container color*/
  margin-top: -10px;
  padding-bottom: -15px;
}

.projectinfo_openradio h3 {
  font-size: 1em;
  font-weight: 0;
  color: #000000;
  text-decoration: none;
  padding-bottom: 0px;
  padding-left: 25px;
}
.projectinfo_openradio p{
  color: #000000;
  padding-top: 0px;
  font-size: .8em;
  padding-left: 25px;
}

.projectinfo_pocket{
  background-color: #ff9efb; /*container color*/
  margin-top: -10px;
  padding-bottom: -15px;
}

.projectinfo_pocket h3 {
  font-size: 1em;
  font-weight: 0;
  color: #000000;
  text-decoration: none;
  padding-bottom: 0px;
  padding-left: 25px;
}
.projectinfo_pocket p{
  color: #000000;
  padding-top: 0px;
  font-size: .8em;
  padding-left: 25px;
}


header li {
	display: inline;
}

footer{
  border-top: 3px solid #d3d3d3;
  border-top: 2px solid #d3d3d3;
}

#contact{
  padding-left: 25px;
}

#contact #emailCall{
  background-color: #000000;
  margin: 0px auto;
  text-align: left;
  padding-bottom: 10px;
}

#contact .contactme{
  text-decoration: underline;
  color: #ffffff;
  font-weight: 300;
  font-size: 1em;
  padding: 25px 0px 10px;
}

#socialLinks {
  margin: 10px 0px;
  text-align: left;
}

#aboutMeContainer{
  margin-left: 25px;
}




/* Font Styling */

body {
  background-color: #000000;
  font-family: 'cousine', monospace;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4, p {
  line-height: 1.4;
  margin: 0px;
  padding: 10px 25px 20px 0px;
  text-align: left;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
  color: #d3d3d3;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: #d3d3d3;
}

h3 {
  font-size: 1.35em;
  font-weight: 100;
  color: #FFFFFF;
  text-decoration: none;
  padding-bottom: 0px;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}
p {
  font-weight: 300;
  font-size: 1em;
  color: #ffffff;
}
li{
  color: #ffffff;
  font-weight: 300;
  font-size: 1em;
  text-decoration: none;
}

.titlestyleName{
  text-decoration: underline;
  color: #ffffff;
  font-weight: 300;
  font-size: 1em;
  padding: 25px 0px 0px;
}
.titlestyle{
  color: #ffffff;
  font-weight: 300;
  font-size: 1em;
  text-decoration: none;
}



/* Image Styling */

.projectpic {
  padding: 0px 0px 0px 0px;
  height: 175px;
  width: 100%;
  object-fit: cover;
  image-rendering: auto;
}

#logo {
  width: 215px;
}

#myphoto{
  padding-left: 25px;
}
#myPhoto img{
  max-width: 100%;
}


/*Button Styling*/

.button {
  color: #d3d3d3;
  text-decoration: none;
  border: 2px solid #d3d3d3;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 3px;
  text-align: center;
}

.button:hover {
  color: #000000;
  background-color: #d3d3d3;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 3px;
}

.download .button{
  margin-left: 25px;
}